.Chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 8px;
    padding: 8px;
    overflow-y: auto;
}

.Messages {
    width: 90%;
    padding: 0 16px;
    border-radius: 16px;
    font-size: 15px;

    &[data-role="user"] {
        background-color: light-dark( #f3f3f3, #303030);
        align-self: flex-end;
    }
}